* {
    box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
}
a {
    text-decoration: none;
}
.card {
    background-color:  white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .12);
}
/* 确保优先级足够高 */
.el-sub-menu.is-active > .el-sub-menu__title {
    background-color: #3c3c3c !important;
    color: #ddd !important;
}